@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: 600;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}




/* Custom CSS
 * --------------------------------------- */
body{
	color: #333;
	color: rgba(0,0,0,0.5);
}
body.ptop{
padding-top: 56px
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}

#menu{
	
}
.box-header-page .align-content,
.box-content-page .align-content {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding-top: 50px
}
.box-content-page .align-content {
	padding-bottom: 100px
}
.box-header-page .align-content h1 {
	font-size: 33px;
	margin-bottom: 15px
}
.box-header-page .align-content p,
.box-content-page .align-content p {
	font-size: 18px;
	font-weight: 100
}
.box-login {
	background-color: #efeeee;
    max-width: 725px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 50px 50px 50px;
    box-sizing: border-box;
    position: relative;
}
.box-login label {
	font-weight: 600;
	font-size: 15px;
}
.box-login input {
	width: 100%;
	line-height: 28px;
	margin: 5px 0 0 0;
}
.box-login textarea{
	width: 100%;
	line-height: 28px;
	margin: 5px 0 0 0;
	display: block;
	min-height: 100px;
	border:1px solid #c4c3c3
}
.box-login .button {
	background-color: #60142e;
	color: #ffffff;
	padding: 4px 10px;
	position: absolute;
	left: 50%;
	bottom: -15px;
	width: 80px;
	margin-left: -40px;
	font-size: 18px;
	border: none;
}
.box-login .obrigatorio {
	font-weight: 100;
	font-size: 12px;
	float: right;
	padding-top: 5px
}
label span {
	font-weight: 100;
	font-size: 12px;
	padding-left: 10px
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}

body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
}

/* Style for our header texts
* --------------------------------------- */
h1{
font-size: 5em;
margin:0;
padding:0;
}
h2{
font-size: 2em;
margin: 0 0 18px 0;
}

/* Common styles
* --------------------------------------- */
img{
-webkit-transition: all 0.7s ease-out;
-moz-transition: all 0.7s ease-out;
-o-transition: all 0.7s ease-out;
transition: all 0.7s ease-out;
}
.section{
text-align:center;
overflow:hidden;
}
.wrap{
width: 1180px;
height: 100%;
margin-left: auto;
margin-right: auto;
position: relative;
}
.box{
text-align: left;
color: #808080;
font-size: 1.2em;
line-height: 1.6em;
}
.menu-burger {
	display: none
}


/* Section 0
* --------------------------------------- */
#section0{
padding: 60px 0;
}
#section0 img{
height: 100%;
margin: 40px 0 0 0;
}

.noticias .row {
	margin-right: 0;
    margin-left: 0;
}
.image-noticias {
	width: 100%
}
.noticias {
	padding-bottom: 100px
}
.noticias .align-content {
	max-width: 435px;
	width: 100%;
	margin-bottom: 0;
	padding-bottom: 0
}
.noticias .align-content h1 {
	font-size: 30px;
	letter-spacing: -1px;
	margin-bottom: 15px;
}
.noticias .align-content p {
	margin-bottom: 15px;
}
.noticias .row > div {
	padding-left: 0;
	padding-right: 0
}
.noticias .align-content .title {
	font-size: 18px;
	border-bottom: 2px solid #000000;
	padding-bottom: 5px;
	margin-bottom: 15px;
	display: inline-block
}
.noticias .left .align-content {
	float: left;
	margin: 0 0 0 10%
}
.noticias .right .align-content {
	float: right;
	margin: 0 10% 0 0
}
.noticias.interna .align-content {
	margin: 0 30px 0 0;
	max-width: 535px;
}
.box-share {
	text-align: center;
	font-size: 14px;
	padding: 20px 0
}
.box-share p {
	font-size: 17px;
	padding-bottom: 10px
}
.box-share ul li {
	display: inline-block;
	padding: 5px
}
article h1 {
	letter-spacing: -1px;
	line-height: 27px
}
.page-navigation {
	margin: 40px auto;
	display: block;
	width: 300px;
	text-align: center
}
.page-navigation li {
	display: inline-block;
	padding: 0 5px
}
.page-navigation li .active {
	color:#bfbdbd
}
.page-navigation li a {
	color: #000000
}

#section1 article,
#section2 article,
#section3 article {
	background-size: cover!important
}

#section3 .content_right {
	width: 50%
}

#section3 article {
	min-height: 250px;
	line-height: 250px;
	vertical-align: middle
}
#section3 article .align_content {
	line-height: normal;
    vertical-align: middle;
	display: inline-block;
	max-width: 300px;
}
#section3 article h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 100;
	border-bottom: 2px solid #60142e;
	display: inline-block;
	margin-bottom: 10px
}
#section3 article h1 {
	font-size: 27px;
	margin-bottom: 20px
}
#section3 article a{
	color:#167a94;
	text-decoration: underline
}

.hide {
	display: none!important
}

#iphone2{
z-index: 10;
}
#iphone2.active{
-webkit-transform: translate3d(-134px, 0px, 0px);
-moz-transform: translate3d(-134px, 0px, 0px);
-ms-transform:translate3d(-134px, 0px, 0px);
transform: translate3d(-134px, 0px, 0px);
}

#iphone3{
z-index: 12;
}
#iphone3.active{
-webkit-transform: translate3d(213px, 0px, 0px);
-moz-transform: translate3d(213px, 0px, 0px);
-ms-transform:translate3d(213px, 0px, 0px);
transform: translate3d(213px, 0px, 0px);
}

#iphone4{
z-index: 11;
left: 140px;
}

#iphone4.active{
-webkit-transform: translate3d(548px, 0px, 0px);
-moz-transform: translate3d(548px, 0px, 0px);
-ms-transform:translate3d(548px, 0px, 0px);
transform: translate3d(548px, 0px, 0px);
}

/* Section 2
* --------------------------------------- */
#section2 img{
position:absolute;
}
#section2 .imgsContainer,
#staticImg .imgsContainer,
#section3 .imgsContainer{
position: absolute;
z-index: 1;
left: 50%;
display: block;
margin-top: -288px;
margin-left: -636px;
width: 0;
height: 0;

-webkit-transition: all 1.2s ease-in-out;
-moz-transition: all 1.2s ease-in-out;
-o-transition: all 1.2s ease-in-out;
transition: all 1.2s ease-in-out;
}

#section2.moveUp .imgsContainer{
top: 50%;
}

#section2.moveDown .imgsContainer,
#staticImg .imgsContainer{
top: 90%;
}

#section2.active .imgsContainer{
top: 50%;
}

#section2 .box{
top: 22%;
left: 42%;
position: absolute;
width: 582px;
}

#iphone-yellow{
top: -35px;
left: -222px;
}

#iphone-red{
top: -194px;
left: 106px;
}

#iphone-blue{
top: 320px;
left: 448px;
}

#iphone-green{
left: 106px;
position:absolute;
}

#staticImg{
display: block;
position: absolute;
z-index: 1;
top: 200%;
left: 0;
width: 100%;
min-width: 980px;
height: 100%;

-webkit-transition: all 0.7s ease-out;
-moz-transition: all 0.7s ease-out;
-o-transition: all 0.7s ease-out;
transition: all 0.7s ease-out;

-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
}
#staticImg.moveDown{
-webkit-transform: translate3d(0, 100%, 0);
-ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
#staticImg.moveUp{

-webkit-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#staticImg.moveDown .imgsContainer{
	top: 50%;
}
#staticImg.moveDown img{
top: 155px;
}

#staticImg.active .imgsContainer{
top: 50%;
}


#staticImg.active img{
top: 487px;
}

/* Section 3
* --------------------------------------- */
#section3 .imgsContainer{
top: 50%;
}

#section3 img{
top: 155px;
left: 455px;
position: absolute;
}
#section3 .box{
text-align: center;
margin: 10% 0 0 0;
}



/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
.fp-tooltip{
color: #AAA;
}
#fp-nav span, .fp-slidesNav span{
border-color: #AAA;
}
#fp-nav li .active span, .fp-slidesNav .active span{
background: #AAA;
}

.header_intro {
	padding-top: 0;
	width: 100%;
	text-align: left;
	max-width: 1050px;
	margin: 0 auto
}
.btn-login {
	float: right;
	display: inline-block;
	line-height: 32px;
	padding: 0 10px;
	font-size: 16px
}
.btn {
	display: inline-block;
	line-height: 32px;
	padding: 0 10px;
	font-size: 16px;
	background-color: #60142e;
	color: #ffffff;
	border: 0;
	cursor: pointer
}
.btn.sair {
	float: right;
	max-width: 80px;
	width: 100%
}
.welcome-text {
	padding-top: 15px
}
.welcome-text a {
	margin-left: 15px;
	font-size: 14px;
	text-decoration: underline
}
.box {
	background-color: #efeeee;
	border: 1px solid #e4e4e4;
	padding: 20px;
	box-sizing: border-box
}
.account .box p {
	color: #000000;
	font-weight: 100;
	font-size: 14px;
	line-height: 18px;
	margin: 10px 0;
	text-transform: uppercase
}
.account .box p strong {
	color: #063895;
	font-weight: 600;
	display: block
}
.account h2 {
	font-size: 18px;
	font-weight: 600
}

#years, #months, #posts{
    cursor:pointer;
}
.archive_year {
margin-left: 1em;
font-size: large;
font-weight: bold;
cursor: pointer;
}
.archive_month {
margin-left: 1em;
margin-top: 0;
margin-bottom: 1em;
list-style-type: circle;
font-size: medium;
cursor: pointer;
}
.archive_posts {
margin-left: 1em;
margin-top: 0;
margin-bottom: 1em;
list-style: square url('http://www.webbossuk.com/admin/images/reply-arrow.png');
font-weight: normal;
cursor: pointer;
}
ul.faq .fa {
	width: 20px
}
ul.faq > li {
	margin-bottom: 15px;
	font-size: 18px;
	cursor: pointer
}
ul.faq > li {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 600;
}
ul.faq li.itens ul li {
	font-weight: 100;
	font-size: 14px;
}
.box-download {
	text-align: center
}
.box-download a {
	margin: 15px 20px;
	display: inline-block
}
.content-download {
	width: 380px!important
}
hr {
	width: 100%;
	height: 2px;
	border: none;
	background-color: #60142e;
	margin-bottom: 20px
}
#intro_home p {
	width: 100%;
	max-width: 940px;
	margin: 8% auto;
	font-size: 48px;
	letter-spacing: -2px;
	text-align: left;
	font-weight: 300;
	font-style: normal;
	line-height: 58px
}
#intro_home p strong {
	font-weight:600; 
}
.icon_mouse {
	position: absolute;
    bottom: 25px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    left: 50%;
    width: 112px;
    margin-left: -56px;
}
.icon_mouse img {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px
}
.content-page > .align-content {
	width: 100%;
    max-width: 1140px;
    margin: 50px auto 0 auto;
    text-align: left;
}
.content-page > .align-content h1 {
	margin-bottom: 15px
}

.box-text-banner {
	width: 270px;
	float: left;
	margin: 50px
}
.box-text-banner h1 {
	font-size: 36px;
	line-height: 40px;
	margin: 25px 0
}
.box-text-banner .button {
	display: inline-block;
	line-height: 40px;
	vertical-align: middle;
	padding: 0 30px;
	border-radius: 4px
}
header.home {
	height:56px;
	width: 100%;
	display: none;
	line-height: 56px;
	vertical-align: middle;
	text-align: center
}
header.home a {
	margin: 0 10px
}
header.home a.logo {
	display: inline-block;
	vertical-align: middle;
	float: none
}
header.home a.logo img {
	vertical-align: sub;
}
header a.btn-login {
	display: inline-block;
	vertical-align: middle;
	float: none
}
header.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index:10;
	display: block;
	width: 100%
}
header {
	min-height: 56px;
	line-height: 56px;
	vertical-align: middle;
	position: relative;
	z-index: 10
}
header .align-content {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	text-align: center
}
header .align-content .logo {
	float: left;
	margin: 15px 0 0 0;
    line-height: normal;
}
header .align-content .btn-login {
	float: right;
	margin: 12px 0 0 0;
}
ul#menu {
	font-size: 0;
	margin-bottom: -10px;
	height: 56px
}
ul#menu li {
	font-size: 16px
}
ul#menu,
ul#menu > li {
	text-align: center;
	display: inline-block;
	border: 0!important
}
ul#menu > li {
	line-height: 14px;
	position: relative;
	margin-right: -4px;
}
ul#menu > li > a {
	line-height: 14px;
}
ul#menu > li a {
	line-height: 14px;
	position: relative;
	line-height: 56px;
	display: inline-block;
	padding: 0 20px
}
ul#menu > li > a:hover{
	background-color: #60142e;
}
ul#menu > li ul {
	display: none;
    position: absolute;
    left: 50%;
    top: 56px;
    width: 200px;
    margin-left: -100px;
}
ul#menu > li ul li a {
	background-color: #60142e;
}
ul#menu > li > a::after {
	content: ' |';
	color:#60142e;
	position: absolute;
	right: 0;
	top: 0;
	height: 0
}
ul#menu li:last-child > a::after {
	content: '';
}
ul#menu > li:hover > ul {
	display: block
}
ul#menu > li ul li {
	text-align: left;
	position: relative
}
ul#menu > li ul li a,
ul#menu > li ul li {
	display: block;
	line-height: 40px;
	text-align: center;
}
ul#menu > li ul li ul {
	position: absolute;
	left: 200px;
	top:0;
	margin-left: 0
}
ul#menu > li ul li:hover a,
ul#menu > li ul li a:hover {
	background-color: #550c25
}
ul#menu > li ul li:hover ul {
	display: block;
	position: absolute;
	left: 200px;
	top:0;
	margin-left: 0
}
ul#menu > li ul li:hover ul li a {
	background-color: #550c25
}

ul#menu > li ul li:hover ul li:first-child a::before {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f105";
	position: absolute;
	left: -15px;
	top: 12px;
	color:#d5ac23
}

ul#menu > li:last-child {
	border-right: none;
	margin-right: 0
}
ul#menu li > a {
	color:#ffffff;
	text-decoration: none
}
.page-title {
	min-height: 135px;
	background: #1b7d96 url(../img/pattern-title-page.png) no-repeat center;
}
.page-title .align-content {
	height: 135px;
	line-height: 135px;
	width: 100%;
	max-width: 1085px;
	margin: 0 auto;
	vertical-align: middle;
}
.page-title .align-content * {
	display: inline-block;
	color: #ffffff
}
.page-title .align-content p {
	float: right;
	color: #ffffff;
	font-size: 22px
}

.content-page {
	min-height: 400px;
	position: relative;
}
.content-page::after {
	content: "";
	display: table;
	clear: both;
}
.content-page .content_left,
.content-page .content_right {
	width: 50%;
	overflow: hidden;
	position: static
}
.content-page .content_left {
	float: left
}
.content-page .content_right {
	float: right
}
.content-page h1 {
	font-size: 33px
}
.content-page p {
	font-size: 18px;
	font-weight: 100;
	margin-bottom: 20px
}
.sobre_a_sulamerica .content_left .content_text,
.o_que_mudou .content_left .content_text {
	width: 100%;
	max-width: 520px;
	float: right;
	margin-bottom: 30px;
	margin-right: 40px
}
.sobre_a_sulamerica .content_left,
.o_que_mudou .content_left {
	padding-top: 50px
}
.sobre_a_sulamerica .content_left h1,
.o_que_mudou .content_left h1 {
	margin-bottom: 20px
}
.sobre_a_sulamerica .content_left .box-image,
.o_que_mudou .content_left .box-image {
	width: 100%;
	height: 300px;
	overflow: auto;
	margin: 40px 0;
	background-size: cover;
}
.content_default.content-page .content_right,
.content_default.content-page .content_left {
	position: relative;
}
.content_default.content-page .content_right .box-image,
.content_default.content-page .content_left .box-image{
	height: 400px
}
.sobre_a_sulamerica .content_right .box-image,
.o_que_mudou .content_right .box-image {
	width: 100%;
	height: 519px;
	overflow: auto;
	margin: 0 0 40px 0;
	background-size: cover;
	position: relative
}
.o_que_mudou .content_right .box-image {
	height: 419px;
}
.sobre_a_sulamerica .content_right .box-image img {
	position: absolute;
	bottom: 0;
	left: 20%
}

.sobre_a_sulamerica .content_right .content_text {
	width: 380px;
	margin-left: 120px
}
.o_que_mudou .content_right .content_text {
	width: 520px;
	margin-left: 40px
}
.sobre_a_sulamerica .content_text hr {
	width: 100%;
	height: 2px;
	border: none;
	background-color: #60142e;
	margin-bottom: 20px
}
table {
	background-color: #efeeee;
	border:1px solid #d5d5d5;
	padding: 20px
}
table thead th {
	text-align: center;
	font-weight: bold;
	padding-bottom: 25px
}
table tbody tr {
	padding-bottom: 10px
}
table tbody tr td {
	text-align: center;
	padding: 10px;
	background-color: #ffffff;
}
table tbody tr td.space {
	background-color: #efeeee;
}
ul li .fa-circle {
	color: #60142e
}
ul.list_2 li {
	padding-left: 0;
	margin-bottom: 30px
}
ul.list_2 li.col {
	width: 44%;
	display: inline-block;
}
ul.list li {
	background: url(../img/list.png) no-repeat left center;
	padding-left: 20px;
	margin-bottom: 10px
}
ul.list {
	padding-left: 20px;
}
article img {
	width: auto!important
}
.content_left {
	float: left;
	width: 50%;
	height: 100%;
	z-index: 3;
	position: relative
}
.content_right article {
	width: 100%;
	height: 50%
}
.content_right {
	position: absolute;
	right: 0;
	top: 0;
	width: 55%;
	height: 100%;
	z-index: 2
}
#section1 .content_left article:first-child {
	height: 30%
}
#section1 .content_left article:last-child {
	height: 70%
}
article {
	position: relative;
	background-size: cover;
}
.logo_2 {
	margin-top: 110px
}
.content-text {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 120px;
	width: 100%;
	line-height: 120px;
	vertical-align: middle;
}
.content-text p {
	font-size: 26px;
	text-align: center
}
#section2 article {
	position: absolute;
	width: 50%;
	height: 50%;
	background-size: cover;
	text-align: left
}
#section2 article h1 {
	font-size: 33px;
	text-align: left;
	margin-bottom: 10px
}
#section2 article h2 {
	font-size: 22px;
	font-weight: 100
}
#section2 article p {
	font-size: 17px;
	font-weight: 100
}
#section2 .align_content {
	padding: 10% 33% 0 10%
}
#section2 article:nth-child(3) .align_content {
	padding: 5% 15% 0 10%
}
#section2 article:nth-child(3) h1 {
	font-size: 30px;
	margin-bottom: 20px
}
#section2 article:nth-child(3) p {
	margin-bottom: 10px
}
#section2 article:nth-child(1){
	top: 0;
	left: 0
}
#section2 article:nth-child(1) hr {
	border: 0;
	height: 2px;
	background-color: #167a94;
	margin-bottom: 20px
}
#section2 article:nth-child(2) * {
	color: #ffffff
}
#section2 article:nth-child(2) hr {
	border: 0;
	height: 2px;
	background-color: #60142e;
	margin-bottom: 20px
}
#section2 article:nth-child(2){
	top: 0;
	right: 0
}
#section2 article:nth-child(2) img {
	position: static;
	margin: 5px 15px;
	width: 50px!important
}
#section2 article:nth-child(3){
	bottom: 0;
	left: 0
}
#section2 article:nth-child(3) h2 {
	border-bottom: 2px solid #60142e;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 30px
}
#section2 article:nth-child(3) a {
	color: #167a94;
    text-decoration: underline;
}
#section2 article:nth-child(4){
	bottom: 0;
	right: 0
}

#pre-footer {
	background-color: #167a94;
	min-height: 320px;
	text-align: left;
	position: relative
}
#pre-footer *{
	color: #ffffff
}
#pre-footer .content_left{
	padding: 85px 0 0 12%
}
#pre-footer .content_right{
	width: 50%;
	padding-top: 85px;
}
#pre-footer .content_left p.title {
	font-size: 33px
}
#pre-footer .content_left h2 {
	font-size: 18px;
	line-height: 34px;
	font-weight: 100;
	border-bottom: 2px solid #60142e;
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 10px
}
#pre-footer p {
	font-size: 15px;
	font-weight: 100;
}
#pre-footer strong {
	display: block;
	font-size: 22px;
	font-weight: 100;
}
#pre-footer .content_right p {
	width: 49%;
	margin: 0;
	display: inline-block;
	margin-bottom: 25px;
	vertical-align: top
}
#pre-footer .content_right a.btn-login {
	float: none;
	display: table;
	position: relative;
	font-size: 13px;
	margin: 10px 0 0 0
}
footer {
	background-color: #60142e;
	min-height: 120px;
	line-height: 120px;
	vertical-align: middle
}
footer a:first-child {
	border-right: 1px solid #167a94;
	padding-right: 25px;
	margin-right: 20px
}
footer a {
	display: inline-block;
	vertical-align: middle;
	line-height: normal
}
.copyright {
	background-color: #e4e6e7;
	min-height: 45px;
	line-height: 45px;
}
.copyright p {
	font-size: 11px;
	color: #3d3d3d;
	float: right
}
.copyright .align_content {
	max-width: 1124px;
	margin: 0 auto;
	width: 100%
}
.copyright p:first-child {
	float: left
}

#intro_home ul#menu > li > a,
#intro_home ul#menu > li,
#intro_home ul#menu {
	background: none!important
}

.header_intro {
    width: 100%;
    position: static;
    padding-top: 10px;
}


.menu-burger span {
	background-color: #ffffff;
	display: block;
	height: 3px;
	margin-bottom: 3px
}
.menu-burger {
    width: 22px;
    height: 14px;
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -11px;
    top: 19px;
}

/* ExtraSmall devices (tablets, 767px and down) */
@media (max-width: 767px) {
	.header_intro {
		width: 80%;
		position: absolute;
		top: 100px;
		left: 10%;
	}
	#intro_home p {
		width: 80%;
		font-size: 42px;
	}
	#section1 .content_right {
		display: none
	}
	#section1 .content_left {
		width: 100%
	}
	.content-text {
		height: 170px;
		line-height: 170px;
	}
	#section1 .content_left article:first-child {
		height: 20%;
	}
	#section1 .content_left article:last-child {
		height: 80%;
	}
	.logo_2 {
		margin-top: 130px;
	}
	#section2 article:nth-child(1) {
		background: #bdbbc6!important
	}
	#section2 .align_content,
	#section2 article:nth-child(3) .align_content {
		padding: 30% 10% 10% 10%;
	}
	header .align-content {
		padding: 0 20px;
		box-sizing: border-box;
	}
	.page-title {
		height: 90px;
		overflow: hidden;
		line-height: 90px;
		min-height: 90px;
		text-align: center;
	}
	.page-title .align-content {
	    height: 90px;
	    line-height: 116px
	}
	.page-title .welcome {
		display: none;
	}
	.box-header-page .align-content h1 {
		font-size: 28px;
	}
	.box-header-page .align-content p, .box-content-page .align-content p {
	    font-size: 16px;
	    font-weight: 100;
	}
	.box-header-page .align-content, .box-content-page .align-content {
	    padding: 20px;
	    box-sizing: border-box;
	}
	.box-login .col-xs-12 {
	    margin-bottom: 20px;
	}
	.box-login {
	    padding: 20px;
	    margin-bottom: 60px;
	}
	#pre-footer .content_left,
	#pre-footer .content_right {
	    width: 100%;
	    float: none;
	    padding: 20px;
	    box-sizing: border-box;
	    position: static;
	}
	#pre-footer .content_right p {
		width: 100%
	}
	#pre-footer {
	    text-align: center;
	}
	#pre-footer .content_right a.btn-login {
	    float: none;
	    display: block;
	    position: relative;
	    font-size: 13px;
	    text-align: center;
	    max-width: 140px;
	    margin: 5px auto;
	}
	#pre-footer .content_left p.title {
	    font-size: 26px;
	}
	#pre-footer strong {
	    font-size: 20px;
	}
	footer a img {
    	width: 83px;	
	}
	footer a:first-child img {
		width: 103px;		
	}
	.copyright p {
	    font-size: 11px;
	    color: #3d3d3d;
	    float: none!important;
	    display: block;
	    line-height: 40px;
	}

	#intro_home #menu {
		display: block!important;
		position: absolute;
	    width: 130px;
	    margin-left: -65px;
	    left: 50%;
	    bottom: 0;
	}
	.box .row {
		padding: 0 20px;		
	}
	.box .row .col-xs-12 {
		padding-left: 0
	}
	.account .col-xs-12.col-sm-4 {
		margin-bottom: 30px
	}
	#intro_home p {
	    width: 100%;
	    font-size: 18px;
	    line-height: 27px;
	    letter-spacing: 0;
	    box-sizing: border-box;
	    padding: 0 20px;
	    text-align: center;
	}
	.header_intro {
	    width: 100%;
	    position: absolute;
	    top: 30px;
	    left: 0;
	    box-sizing: border-box;
	    padding: 0 20px;
	}
	.header_intro img {
		max-width: 120px
	}
	.btn-login {
	    float: right;
	    display: inline-block;
	    line-height: 31px;
	    padding: 0 10px;
	    font-size: 12px;
	}
	ul#menu > li a {
	    line-height: 14px;
	    position: relative;
	    line-height: 16px;
	    display: inline-block;
	    padding: 0;
	    font-size: 12px;
	}
	.content-text p {
	    font-size: 18px;
	    text-align: center;
	}
	.content-text {
	    height: 100px;
	    line-height: 100px;
	}
	#section2 article {
	    position: static;
	    background-size: cover;
	    text-align: center;
	    width: 100%;
	    box-sizing: border-box;
	    padding: 20px;
	    height: auto;
	}
	#section2 .align_content, #section2 article:nth-child(3) .align_content {
	    padding: 20px;
	    text-align: center;
	}
	#section2 article h1 {
	    font-size: 33px;
	    text-align: center;
	    margin-bottom: 15px;
	}
	.content_left,
	.content_right {
	    float: none;
	    width: 100%!important;
	    height: auto;
	    z-index: 3;
	    position: relative;
	}
	#section2 article:nth-child(4) {
	    display: none;
	}
	#section1 .content_left article:last-child {
	    height: 400px;
	    margin-top: 60px;
	}
	.logo_2 {
	    margin-top: 60px;
	}
	.content-page .content_left,
	.content-page .content_right {
	    float: none;
	    width: 100%!important;
	    box-sizing: border-box;
	    padding: 20px;
	}
	.sobre_a_sulamerica .content_left .content_text, .o_que_mudou .content_left .content_text {
	    float: none;
	    margin-right: 0;
	}
	ul.list_2 li.col {
	    width: 100%;
	    display: inline-block;
	}
	.sobre_a_sulamerica .content_right .content_text {
	    width: 100%;
	    margin-left: 0;
	}
	.sobre_a_sulamerica .content_left .content_text, .o_que_mudou .content_left .content_text {
		padding-left: 0!important
	}
}
@media (max-width: 560px) {

}

@media (max-width: 1024px) {
	.menu-burger {
		display: block
	}
	ul#menu {
		position: absolute;
		width: 100%;
		left: 0;
		top: 56px;
		display: none
	}
	ul#menu > li {
		border-right: 1px solid #000000;
		display: block;
	}
	ul#menu > li > a {
		display: block;
		padding: 13px 20px 2px 20px;
		font-size: 16px;
		background-color: #323232;
		text-align: left;
	}
	ul#menu > li a::after {
		content: '';
		display: block;
		height: 1px;
		background-color: #ffffff;
		color: #ffffff;
		position: static;
		width: 80px;
		margin-top: 20px;
	}
	ul#menu > li:last-child a::after {
		content: none;
	}
	ul#menu > li:last-child a {
		padding-bottom: 30px
	}	
	ul#menu > li ul {
		display: block;
		position: static;
		left: 0;
		top: 0;
		width: 100%;
		margin-left: 0;
		text-align: left;
		margin-top: -6px
	}
	
	ul#menu > li ul li a, ul#menu > li ul li {
		display: block;
		line-height: 30px;
		text-align: left;
		font-size: 16px
	}
	ul#menu > li ul li a {
		background-color: #00bbee;
		padding-left: 40px;
		margin: -1px 0;
		height: 45px;
		line-height: 45px;
	}
	ul#menu > li ul li ul {
		position: static;
		left: 0;
		top: 0;
		margin-left: 0;
	}
	ul#menu > li ul li ul li a {
		padding-left: 80px;
	}
	.content-page > .align-content {
		padding: 0 20px;
		box-sizing: border-box;
	}
	#intro_home ul#menu, #intro_home ul#menu > li, #intro_home ul#menu > li a{
		background: transparent!important
	}
	#intro_home ul#menu {
		top: auto
	}
	#intro_home ul#menu li a {
		padding: 0
	}
	header .align-content,
	.page-title .align-content,
	.box-header-page .align-content, 
	.box-content-page .align-content,
	.noticias.interna .align-content {
		padding: 0 20px;
		box-sizing: border-box
	}
	.box-header-page .align-content {
		padding: 20px 30px;
	}
	.noticias.interna .align-content {
		margin: 0 10px 0 0;
		max-width: -webkit-fill-available;
	}
	#pre-footer .content_left {
		padding: 85px 0 0 20px;
	}
	#pre-footer .content_left p.title {
		font-size: 26px;
	}
	.noticias .left .align-content,
	.noticias .right .align-content {
		margin: 20px 0
	}
	.box-content-page .align-content {
		margin-bottom: 50px
	}
	.sobre_a_sulamerica .content_left .content_text, .o_que_mudou .content_left .content_text {
		width: 100%;
		max-width: -webkit-fill-available;
		float: none;
		margin-bottom: 30px;
		margin-right: 20px;
		padding-left: 20px;
		box-sizing: border-box;
	}
	.sobre_a_sulamerica .content_right .content_text {
		width: 100%;
		margin-left: 0;
		padding: 0 20px;
		box-sizing: border-box;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
